.logo-size {
  width: 100px;
  height: auto;
}

#blacklistMapContainer {
  display: none; 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Make sure it's on top */
  border: 2px solid red;
  padding: 20px;
  height: 80%;
  width: 60%;
  background-color: red;
}

#blacklistMap {
  height: 90%;
  margin-bottom: 10px;
}

#mapCloseBtn {
  color: white;
  background-color: black;
}

.mainCard {
  height:350px;

  display: flex;
  align-items: center;

  transition: 1s ease;
}

.mainCard:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
}